@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary: hsl(25, 97%, 53%);
}

body {
	font-family: "Overpass", sans-serif;
	background-color: hsl(216, 12%, 8%);
}

div.page {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

/*  Start Styling The Card */

.page .card {
	display: flex;
	flex-direction: column;
	background-color: hsl(213, 19%, 18%);
	height: 350px;
	margin: 30px;
	padding: 20px;
	border-radius: 20px;
	justify-content: space-around;
}

.card .star {
	background-color: hsla(216, 12%, 54%, 0.37);
	width: fit-content;
	padding: 10px;
	display: flex;
	align-items: center;
	border-radius: 9999px;
}

.card h1 {
	color: hsl(0, 0%, 100%);
	font-weight: 700;
}

.card p {
	font-size: 15px;
	color: hsl(217, 12%, 63%);
}

.card .numbers {
	display: flex;
	width: 100%;
	justify-content: space-between;
	color: hsl(217, 12%, 63%);
}

.numbers span {
	background-color: hsla(216, 12%, 54%, 0.37);
	width: fit-content;
	padding: 11px 16px;
	display: flex;
	align-items: center;
	transition: 0.2s;
	border-radius: 9999px;
	cursor: pointer;
	user-select: none;
}

.active {
	background-color: var(--primary) !important;
	color: hsl(0, 0%, 100%) !important;
}

.numbers span:hover {
	background-color: hsl(217, 12%, 63%);
	color: hsl(0, 0%, 100%);
}

.card button {
	color: hsl(0, 0%, 100%);
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px;
	user-select: none;

	transition: 0.2s;
	border-radius: 9999px;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: var(--primary);
}

.card button:hover {
	color: var(--primary);
	background-color: hsl(0, 0%, 100%);
}

.card .body {
	text-align: center;
}

.card .selected-count {
	color: var(--primary);
	background-color: hsla(216, 12%, 54%, 0.26);
	padding: 6px;
	border-radius: 999px;
}

.card .loading {
	width: 200px;
	height: 10px;
	background-color: darkgrey;
	border-radius: 100px;
	overflow: hidden;
	position: relative;
}

.loading .strip {
	width: 50px;
	background-color: var(--primary);
	height: inherit;
	animation-name: loading;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-direction: alternate;
	border-radius: 100px;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	position: absolute;
}

@keyframes loading {
	0% {
		margin-left: -100px;
	}
	100% {
		margin-left: 200px;
	}
}

@media (min-width: 800px) {
	.card {
		width: 400px;
		font-size: 20px;
	}
}
